// Variables.scss
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Structure
$pageWidth: 960px;

// Box-sizing
$boxModel:              border-box !default;

// Links
$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15) !default;

// Grays
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

// Text Selection
$selectionColor: orange;
$selectionTextColor: #fff;

// Typography
$baseFontSize:          14px !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight:        $baseFontSize * 1.5 !default;
$textColor:             $grayDark !default;



// COMPONENT VARIABLES
// --------------------------------------------------

// Input placeholder text color
$placeholderText:       $grayLight !default;

// Hr border color
$hrBorder:              $grayLighter !default;
